{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "nodes": [{
        "container": {
            "type": "kvm",
            "zone": "pek3a",
            "image": "img-123489723"
        },
        "cpu": {{cluster.oracle_node.cpu}},
        "memory": {{cluster.oracle_node.memory}},
        "count": {{cluster.oracle_node.count}},
        "instance_class": {{cluster.oracle_node.instance_class}},
        "volume": {
            "size": {{cluster.oracle_node.volume_size}}
        }, 
		"server_id_upper_bound": 255,
        "services": {
            "start": {
                "cmd": "/oracledb_bin/start.sh"
            },
            "stop": {
                "cmd": "service oracleDB stop"
            }
        },
        "advanced_actions": ["change_vxnet", "scale_horizontal"],
        "vertical_scaling_policy": "sequential"
    }],
   
    "health_check": {
        "enable": true,
        "interval_sec": 60,
        "timeout_sec": 10,
        "action_timeout_sec": 30,
        "healthy_threshold": 2,
        "unhealthy_threshold": 2,
        "check_cmd": "service oracleDB status",
        "action_cmd": "service oracleDB restart"
    }
}

